.container {
  /* min-height: 80%;
   */
  height: 400px;
  width: auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img,
.btn {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  background: rgb(124, 1, 255);
  color: wheat;
}